<h2><%= @user.username %></h2>
<%= render 'shared/stats' %>
<%= render 'follow_form' if user_signed_in? %>

<% @posts.each do |p| %>
  <%= link_to "Show", user_post_path(@user, p) %>
  <%= p.content %>
<% end %>

<% if current_user?(@user) %>
  <%= link_to "New Post", new_user_post_path(current_user) %>
<% end %>